In [1]:
i = 1
while i <= 100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
i = 1
while i <= 10:
    print(3*i)
    i += 1

3
6
9
12
15
18
21
24
27
30

In [4]:
n = int(input("enter number : "))
i = 1
while i <= 10:
    print(n*i)
    i += 1

enter number :  26

26
52
78
104
130
156
182
208
234
260

In [8]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100 ]
heroes = ["ironman", "superman", "batman", "thor", "loki"]

In [6]:
idx = 0
while idx < len(list):
    print(idx)
    idx += 1

0
1
2
3
4
5
6
7
8
9

In [7]:
idx = 0
while idx < len(list):
    print(list[idx]) 
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [9]:
idx = 0
while idx < len(heroes):
    print(heroes[idx]) 
    idx += 1

ironman
superman
batman
thor
loki

In [10]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100 ]

In [11]:
x = 64

i = 0
while i < len(list):
    if(list[i] == x):
        print("FOUND at idx", i)
    i += 1

FOUND at idx 7

In [12]:
x = 64

i = 0
while i < len(list):
    if(list[i] == x):
        print("FOUND at idx", i)
    else:
        print("FINDING..")
    i += 1

FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FOUND at idx 7
FINDING..
FINDING..

In [13]:
i = 1
while i <= 5:
    print(i)
    if(i == 3):
        break
    i += 1

print("end of loop")

1
2
3
end of loop

In [14]:
x = 64

i = 0
while i < len(list):
    if(list[i] == x):
        print("FOUND at idx", i)
        break
    else:
        print("FINDING..")
    i += 1
print("End of Loop")

FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FINDING..
FOUND at idx 7
End of Loop

In [16]:
i = 1
while i <= 10:
    if(i%2 != 0):
        i += 1
        continue  #skip work
    print(i)
    i += 1

2
4
6
8
10

In [17]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
for z in list:
    print(z)

1
4
9
16
25
36
49
64
81

In [19]:
heroes = ["ironman", "superman", "batman", "thor", "loki"]

In [20]:
for z in heroes:
    print(z)

ironman
superman
batman
thor
loki

In [21]:
tuple = (1, 2, 3, 4, 5, 6)

In [22]:
for num in tuple:
    print(num)

1
2
3
4
5
6

In [23]:
str = "Hello Boss"

In [25]:
for char in str:
    print(char)

H
e
l
l
o

B
o
s
s

In [30]:
for char in str:
    print(char)
else:
    print("YOU ARE FINISED")

H
e
l
l
o

B
o
s
s
YOU ARE FINISED

In [31]:
for char in str:
    if(char == 'o'):
        print("o found")
        break
    print(char)
else:
    print("YOU ARE FINISED")

H
e
l
l
o found

In [32]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100 ]

In [33]:
for w in list:
    print(w)

1
4
9
16
25
36
49
64
81
100

In [39]:
x = 64               #called linear search process

idx = 0
for w in list:
    if(w == x):
        print("number found at idx", idx)
        break
    idx += 1

number found at idx 7

In [40]:
for q in range(5):
    print(q)

0
1
2
3
4

In [41]:
for q in range(1, 5):
    print(q)

1
2
3
4

In [43]:
for q in range(1, 5, 2):       #range(start, stop, step size)
    print(q)

1
3

In [44]:
for i in range(2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [46]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [49]:
for i in range(101, 0, -1):
    print(i)

101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [50]:
n = int(input("enter number: "))

for i in range(1, 11):
    print(n * i)

enter number:  17

17
34
51
68
85
102
119
136
153
170

In [51]:
for z in range(10):


print("some useful work")

IndentationError: expected an indented block after 'for' statement on line 1 (1429253422.py, line 4)

In [52]:
for z in range(10):
    pass


print("some useful work")

some useful work

In [53]:
for z in range(10):
    pass
if i > 5:
    pass
    

print("some useful work")

some useful work

In [1]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
n = 5

sum = 0
for i in range(1, n+1):
    print(i)

1
2
3
4
5

In [4]:
n = 7 

sum = 0
for i in range(1, n+1):
    sum += i

print("total sum =", sum)

total sum = 28

In [1]:
n = 7 
i = 1
sum = 0
while i <= n:
    sum += i
    i += 1
    
print("total sum =", sum)

total sum = 28

In [1]:
n = 7 
i = 8
sum = 0
while i <= n:
    print(i)